@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  --blue: #00b3e5;
}
.wrapper {
  display: grid;
  align-content: center;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid #bfbfbf;
  padding-bottom: 15px;
}
.header-wrap {
  padding-top: 18px;
  margin: auto 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.sub-button {
  background-color: var(--blue);
  color: white;
  font-weight: bold;
  padding: 10px 25px;
  font-size: 14px;
  border-radius: 5px;
}
nav {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  max-width: 1300px;
}
li {
  position: relative;
  display: inline;
  padding: 10px 8px;
}
.black-nav li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.black-nav a:hover {
  color: var(--blue);
}
a:hover:after {
  background: rgb(1, 58, 105);
  display: block;
  content: "";
  height: 5px;
  width: calc(100% - 6px);
  position: absolute;
  left: 3px;
  bottom: 5px;
  transform: rotate(180deg);
}
.main-wrapper {
  display: grid;
  justify-items: center;
}
.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  max-width: 1100px;
}
.main-article p {
  letter-spacing: 1px;
  line-height: 1.2;
}
article {
}

.read-more {
  background: #f5f5f5;
  font-weight: bold;
  padding: 10px;
  font-size: 14px;
  margin: 20px 0px 35px;
}
.card {
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: 8.9fr 1fr;
  padding: 15px;
  margin: 10px;
}
.description {
  font-size: 22px;
  font-weight: bold;
  color: #4d4d4d;
}
.number {
  color: var(--blue);
  font-weight: bold;
  font-size: 30px;
  justify-self: center;
  align-self: center;
  padding-left: 10px;
}
